* {
    box-sizing: border-box;
}

/* VIEW */

.details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.created {
    color: rgb(143, 143, 143);
}

.container p img {
    width: 400px !important;
    height: 500px !important;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin: 0 !important;
}

/* Submit */
#message1 {
    height: 350px;
}

/* FB list */

.fb {
    border-top: 2px solid rgba(3, 123, 252, .6);
    padding: 25px 0;
}

.fb p {
    margin: 0;
}