* {
    box-sizing: border-box;
}

/* VIEW */

.details.view {
    padding: 0 15px;
}

.created {
    color: rgb(143, 143, 143);
    padding: 0 15px;
}

.ql-editor.non-edit {
    min-height: auto;
    height: auto;
}

.container p img {
    width: 400px !important;
    height: 500px !important;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin: 0 !important;
}

/* Submit */
#message1 {
    min-height: 300px;
    overflow: hidden;
    height: 300px;
}

.loading {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ql-editor {
    min-height: 300px;
    height: 300px;
    overflow: auto;
}

#submit-btn {
    margin-top: 20px;
}

/* loader */
.lds-roller {
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 150px;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #333333;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* FB list */

.feedbacks {
    width: 85%;
}

.details.overview {
    display: grid;
    width: 100%;
    align-items: flex-start;
    margin-top: 10px;
    grid-template-columns: 75% 25%;
}

.upvotes {
    font-size: 22px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 9px 20px 0 0;
    height: 100%;
    color: #333333 !important;
    position: relative;
    user-select: none;
}

.upvotes svg {
    margin-right: 8px;
    font-size: 18px;
    opacity: .8;
}

.upvotes::before {
    content: 'Please review the feedback first before upvoting it.';
    color: white;
    width: 100%;
    width: 430px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.76);
    padding: 5px 0;
    position: absolute;
    overflow: visible;
    top: -10px;
    left: -100%;
    font-size: 18px;
    opacity: 0;
    visibility: hidden;
    transition: .2s ease;
}

.upvotes.clicked::before {
    opacity: 1;
    visibility: visible;
    transform: translateY(-30px);
}

.details.overview img {
    justify-self: end;
    grid-area: 1/2/3/3;
    margin-top: -8px;
    width: 55px;
}

.details.overview h3 {
    font-size: 21px;
}

.details.overview p {}

.fb {
    border-top: 1px solid #353b48;
    display: flex;
    padding-top: 5px;
}

.container1 {
    margin-left: 390px !important;
}

#load {
    display: none;
    width: 82%;
    transform: translateX(0%);
    margin: 0 auto;
    margin: 20px;
}

#total {
    padding: 0 15px;
}

.sidenav {
    height: 90%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow: hidden;
    margin-top: 30px;
    padding-top: 40px;
    padding-right: 25px !important;
    border-right: 2px solid rgba(199, 200, 201, 0.6);
}


@media (max-width: 950px) {
    .container1 {
        display: flex;
        flex-direction: column;
    }

    .sidenav {
        position: initial;
        width: 100%;
        margin-top: 0 !important;
        padding: 0 !important;
        padding: 0 17px !important;
    }

    .sidenav .my-3 {
        margin: 10px 0 !important;
    }

    .sidenav>* {
        padding: 0 !important;
    }

    .container1 {
        margin-left: 0 !important;
    }

    .feedbacks {
        width: 100%;
    }

    #load {
        width: 95% !important;
        max-width: 100% !important;
    }
}